<div class="containerdetail" style="max-width: 100%;">
    <div class="left"></div>
    <div class="center">
      <h2 Style="font-size: 1.5rem;
      font-style: italic;
  padding-left: 55px;position: absolute;top: 100px;">Camp Details</h2> 
  
  <div style="height: 80%; width: inherit;margin-left: 0.5cm;">
  <div>
  
      <table style="margin-left: 200px; width:80%;position: absolute;
      top: 150px;">
          <tr>
            <th>Name:</th>
            <td>{{event.ename}}</td>
          </tr>
          <tr>
            <th>Place:</th>
            <td>{{event.eplace}}</td>
          </tr>
          <tr>
            <th>Date:</th>
            <td>{{event.eDate}}</td>
          </tr>
          <tr>
            <th>Time:</th>
            <td>{{event.eTime}}</td>
          </tr>
        </table>
  
  </div>
  